/* CSS declarations go here */
*{
	margin: 0;
	padding: 0;
}
body {
  text-align: center;
  background-color: #e9ece5;
 }

.btn {
 	background-color: #3fb0ac;
 	border:none;
 }

 .btn:hover{
 	background-color: #173e43;
 	border:none;
 }

 h1{
 	text-shadow: 1px 1px #ffffff;
 	font-size: 400%;
 }
#mindmap {
	border: 1px solid silver;
    overflow: scroll;
    height: 500px;
	background-color: white;
	margin: .5em;
}

