.navbar {
min-height:32px !important}

.fullscreen-btn {
    position: absolute;
    right: 3%;
}

.arrow {
    background-size: contain;

}

.bounce {
    -webkit-animation: bounce 2s ;
    animation: bounce 2s ;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0); }
    40% {
        -webkit-transform: translateY(-30px); }
    60% {
        -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0); }
    40% {
        -moz-transform: translateY(-30px); }
    60% {
        -moz-transform: translateY(-15px); } }
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); }
    40% {
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
        transform: translateY(-30px); }
    60% {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}