<!-- Button template -->
<template name="MyButton">
  <button id="clickme" class="button-0">Create MindMap</button><br/>
    <div class="btn-text">
      <span>Or</span>
      <a href="#"  onclick="document.getElementById('fileID').click(); return false;" >Import</a>
      <input type="file" accept=".mm" id="fileID" style="visibility: hidden;" />
    </div>
</template>

<template name="MinditImage">
  <img src="/MinditLogo.png" width="20%" height="20%">
</template>

<template name="HomeMindMapExample">
  <div><img src="/SliderImage3-MovieDialogues.png"></div>
  <div><img src="/SliderImage1-Schedule.png"></div>
  <div><img src="/SliderImage2-Pune.png"></div>
</template>

<!--Home template -->
<template name='home'>
  {{> TopBar topbarText="About Us"  requireExport=false linkId="about-us"}}

  <div>
    {{> ModalPopUp modalHeaderText="About Us" modalId="aboutUs-modal" path="/About_us_mind_it.png" isFullWidth="true"}}
  </div>

  <div class="home-bg-container" style="margin-top: 100px">
    <div class="home-bg">
      {{> HomeMindMapExample}}
    </div>
  </div>

  <div class="create-mindmap">
    {{> MyButton}}
  </div>

</template>
