.home-bg {
  max-height: 100%;
  background-size: contain;
  background: no-repeat 50% 50%;
  width: 90%;
  margin: auto;
}

.home-bg img {
  width: 90%;
  max-height: 100%;
  margin: auto;
}

.home-bg .slick-next:before, .slick-prev:before {
  color: rgb(111, 60, 60)
}

.home-bg .slick-slide {
  display: inline-block;
  vertical-align: top;
  float: none;
}

.home-bg .slick-dots li button:before {
  font-size: 12px;
}

.create-mindmap {
  margin-top: 25px;
}


.brand{
  padding-top: 27%;
  font-size:150%;
  color: #9d9d9d;
}
.navbar-right {
    float: right !important;
    margin-right: 15px;
    margin-top: 1%;
}
.navbar-inverse{
    border-color: white;
    background-color: white;
}
.navbar-inverse .navbar-nav > li > a{
    color: #000000;
    font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
    font-size: 15.4px;
    font-weight: 600;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: #ED8233;
}
.landingLogo {
    margin-top: 90px;
}
