<template name="Embed">
    <br>
    <h4> Copy and paste this code in your page.</h4>
    <br>
    <center>
        <input id="embedCodeTextBox" type="text" class="form-control"
               style="width:80%;height:70%; background-color: white" readonly="readonly">

    </center>
    <center>
        <button id="copyEmbedCode" style="background-color: white; color: black; width: 25%;padding:1%; margin-top: 5%; border-radius:4px;    border-width:1px;">Copy Code </button>

    </center>

</template>