<template name="Export">
    <a class="brand" href = "#" onMouseOver="this.style.color='#ED8233'"
       onMouseOut="this.style.color='#000000'" target="new" style="color:#000000">
        Export
    </a>
</template>

<template name="ExportImageButton">
    <input class="menuicons" type="image" src="/exportico38.png" id="exportImageButton">
    <!--<a href = "#" onMouseOver="this.style.color='#ED8233'" onMouseOut="this.style.color='#000000'" target="new" style=" padding-top: 0px; font-size:12px; color:#000000;">-->
        <!--Export-->
    <!--</a>-->
</template>

