<template name="LoginMenu">
  {{#if currentUser}}
    <a href="" class="navbar-element navbar-nav navbar-brand" data-action="logout" onMouseOver="this.style.color='#ED8233'"
       onMouseOut="this.style.color='#FFFFFF'" style="color: #FFFFFF;">
      Logout
    </a>
  {{else}}
    {{#if loggingIn}}
      <a href="" class="navbar-element navbar-nav navbar-brand" onMouseOver="this.style.color='#ED8233'"
         onMouseOut="this.style.color='#FFFFFF'" style="color: #FFFFFF;">
        Logging In..
      </a>
    {{else}}
      <a href="" class="navbar-element navbar-nav navbar-brand" onMouseOver="this.style.color='#ED8233'"
         onMouseOut="this.style.color='#FFFFFF'" data-action="login" style="color: #FFFFFF;">
        Log In
      </a>
    {{/if}}
  {{/if}}
</template>

<template name="UserNameInfo">
  {{#if currentUser}}
    <span class="navbar-nav brand">
      Hi {{ name}}
      </span>
      {{else}}
  <span class="navbar-nav brand">
      Hi Guest
      </span>
  {{/if}}
</template>

<template name = "UserPictureInfo">
  <img style="margin-top: 70%" src={{ name}} class="img-circle" alt="Cinque Terre" width="35" height="35">

</template>

