/* CSS declarations go here */
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	text-align: center;
	height: 100%;
	width: 100%;
	background-color: white;
	font-family: SansSerif, sans-serif;
}

.btn {
	background-color: #3fb0ac;
	border: none;
}

h1 {
  text-shadow: 1px 1px #ffffff;
  font-size: 400%;
}

.btn-text{
    font-family: 'Helvetica', cursive;
    font-size: 25px;
    padding: 10px 40px;
    margin: 10px 10px 10px 10px;
}

.btn:hover {
	background-color: #173e43;
	border: none;
}

.button-0 {
	padding: 10px 40px;
	font-family: 'Helvetica', cursive;
	font-size: 25px;
	color: #FFF;
	background-color: #3fb0ac;
	text-shadow: 0px -2px #2980B9;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.button-0:hover,
.button-0:focus {
	text-decoration: none;
	color: #fff;
}

.button-0:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
}


