/* CSS declarations go here */
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	text-align: center;
	height: 100%;
	width: 100%;
	background-color: white;
	font-family: SansSerif, sans-serif;
}

.btn {
	background-color: #3fb0ac;
	border: none;
}

h1 {
  text-shadow: 1px 1px #ffffff;
  font-size: 400%;
}

.btn-text{
    font-family: 'Helvetica', cursive;
    font-size: 20px;
    padding: 10px 40px;
    margin: 0px 10px 10px 10px;
}

.btn-text a{
    color: #ff8433;
}

.btn-text a:hover{
    text-decoration: none;
    color: #8E388E;
}

.btn:hover {
	background-color: #173e43;
	border: none;
}

.button-0 {
	padding: 10px 40px;
	font-family: 'Helvetica', cursive;
	font-size: 25px;
	color: #FFF;
	background-color: #ff8433;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	border-style: none;
	border-radius: 15px;
}

.button-0:hover,
.button-0:focus {
	text-decoration: none;
	color: #fff;
}

.button-0:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
}

.full-width {
	width: 100%;
}

.navbar-element{
	font-size:150%;
	padding-top: 35px
}

.brand {
	padding-left: 10px;
	padding-top: 27%;
	font-size: 150%;
	color: #FFFFFF;
	font-weight: 100;
}

.navbar-right-element {
	padding-left: 10px;
	padding-top: 35%;
	color: #9D9D9D;
	font-size: 150%;
}
.userInfo{
	margin-top:15%;
	font-family: Helvetica, sans-serif;
	font-size: 150%;
	color: white;
	font-weight: 100;
	float: right;
}

