/* CSS declarations go here */
* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #e9ece5;
}

.btn {
    background-color: #3fb0ac;
    border: none;
}

.btn:hover {
    background-color: #173e43;
    border: none;
}

h1 {
    text-shadow: 1px 1px #ffffff;
    font-size: 400%;
}

.button-0 {
    padding: 10px 40px;
    font-family: 'Helvetica', cursive;
    font-size: 25px;
    color: #FFF;
    background-color: #3fb0ac;
    text-shadow: 0px -2px #2980B9;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.button-0:hover,
.button-0:focus {
    text-decoration: none;
    color: #fff;
}

.button-0:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
}

/* Spike */

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.node ellipse {
    cursor: pointer;
    fill: #fff;
    stroke: #ccc;
    stroke-width: 1.5px;
    fill-opacity: 1;
}

.node text {
    font-size: 1.1em;
}

.rootNode text{
    font-size: 1.3em;
}
.node text {
    text-anchor: middle;
    fill-opacity: 1;
}

.node.selected ellipse, .node.selected rect {
    fill: #ddd;
}


