<!-- Create template -->
<template name='create'>
    <h2>{{name}}</h2>

    <div id='mindmap'>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.2" width="960" height="6000">

        </svg>
    </div>
    <div id="prompt">
        <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Enter text here
                        </h4>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="modal-text" style="resize: none;"
                                              rows="10"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary" id="modal-save">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div>
        <div class="modal fade modal-fullscreen force-fullscreen" tabindex="-1" role="dialog" id="help-modal"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 100%">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">
                            Help
                        </h4>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <img src="/shortcuts.png" style="width: 100%;height: 100%"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <img src="/Minditlogo.png" width="10%" height="10%" style="float: left">
                {{> UserNameInfo}}
                <ul class="nav navbar-nav" style="float: right">
                    <li><a href="#" class="navbar-nav navbar-brand"
                           style="font-size:150%;padding-top: 35px" id="help-link">Help</a></li>
                    <li>{{> LoginMenu}}</li>
                </ul>
            </div>
        </div>
    </div>

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71673347-1', 'auto');
  ga('send', 'pageview');
    </script>

</template>



