path.thick-link {
    fill: none;
    stroke: #aaa;
    stroke-width: 4px;
    stroke-linecap: round;
}

path.link {
    fill: none;
    stroke: #aaa;
    stroke-width: 1.5px;

}

.node ellipse {
    cursor: pointer;
    fill: #fff;
    stroke: #aaa;
    stroke-width: 1.5px;
    fill-opacity: 1;
}

.node text, input {
    font-size: 16px;
    text-anchor: middle;
    fill-opacity: 1;
}

.node.level-0 text, input.level-0 {
    font-size: 24px;
}

.node.level-1 text, input.level-1 {
    font-size: 22px;
    fill: #0033ff;
    color: #0033ff;
}

.node.level-2 text, input.level-2 {
    font-size: 20px;
    fill: #00b439;
    color: #00b439;
}

.node.level-3 text, input.level-3 {
    font-size: 18px;
    fill: #990000;
    color: #990000;
}

.node rect {
    fill: transparent;
}

.node.selected ellipse, .node.selected rect {
    fill: #ddd;
}

.node.softSelected ellipse, .node.softSelected rect {
    fill: #ddd;
}

.node.cursorSelected-0 ellipse, .node.cursorSelected-0 rect {
    fill: #ddbcdd;
}

.node.cursorSelected-1 ellipse, .node.cursorSelected-1 rect {
    fill: #73cadd;
}

.node.cursorSelected-2 ellipse, .node.cursorSelected-2 rect {
    fill: #ddd78a;
}


.node.softSelected rect {
    stroke: #ddd;
    stroke-width: 2px;
}

.node.selected rect {

  stroke: #000;
  stroke-width: 0px;
}

.edit-box {
    position: absolute;
}

.node.selected.level-0 rect {
    fill: transparent;
    stroke: transparent;
}

circle.indicator.filled {
    fill: white;
    stroke: #888;
    stroke-width: 1.5px;
}

circle.indicator.unfilled {
    fill: transparent;
    stroke: transparent;
    stroke-width: 1.5px;
}

.node.dragSelect rect {
    fill: #ffad33;
    stroke: black;
    opacity: 0.2
}

.node.dropSelect rect {
    fill: #ddd;
    opacity: 0.3;
}

.share_button {
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;

    color: #2a6496;
    float: right;
}



.divider{
    height:30px;
    margin:5px 10px 0 10px;
}

.divider{
    height:38px;
    border-left:1px solid black;
}
