path.thick-link {
  fill: none;
  stroke: #aaa;
  stroke-width: 3px;
  stroke-linecap: round;
}

path.link {
  fill: none;
  stroke: #aaa;
  stroke-width: 1.5px;

}

.node ellipse {
  cursor: pointer;
  fill: #fff;
  stroke: #aaa;
  stroke-width: 1.5px;
  fill-opacity: 1;
}

.node text, input {
  font-size: 18px; /* 100 */
  text-anchor: middle;
  fill-opacity: 1;
}

.node.level-0 text, input.level-0 {
  font-size: 30px; /* 166 */
}

.node.level-1 text, input.level-1 {
  font-size: 28px; /* 150 */
  fill: #0033ff;
  color: #0033ff;
}

.node.level-2 text, input.level-2 {
  font-size: 24px; /* 133 */
  fill: #00b439;
  color: #00b439;
}

.node.level-3 text, input.level-3 {
  font-size: 21px; /* 116 */
  fill: #990000;
  color: #990000;
}

.node rect {
  fill: transparent;
}

.node.selected ellipse, .node.selected rect {
  fill: #ddd;
}

.node.selected rect {
  stroke: #ddd;
  stroke-width: 2px;
}

.edit-box {
  position: absolute;
}

.node.selected.level-0 rect {
  fill: transparent;
  stroke: transparent;
}

circle.indicator.filled {
  fill: white;
  stroke: #888;
  stroke-width: 1.5px;
}

circle.indicator.unfilled {
  fill: transparent;
  stroke: transparent;
  stroke-width: 1.5px;
}
