<!-- Create template -->
<template name='create'>
    <h2>{{name}}</h2>

    <div id='mindmap'>
        <svg xmlns="http://www.w3.org/2000/svg"
             version="1.2" width="960" height="6000">
            <!--<foreignObject>-->
                <!--<text x="0" y="20" font-size="18" font-family="Arial" fill="#000080">Name:</text>-->
                <!--<rect x="0" y="25" width="156" height="26" rx="3" ry="3"-->
                      <!--fill="white" stroke-width="2" stroke="#000080"></rect>-->
                <!--<textArea x="3" y="27"gdfgdf"-->
                  <!--editable="simple" focusable="true" pointer-events="boundingBox"></textArea>-->
            <!--</foreignObject>-->
        </svg>
    </div>
</template>
