<template name="TopBar">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" style="padding-left: 10px; padding-top: 13px; padding-bottom: 5px;">
        <a href="/">
          <img src="/Minditlogo.png" width="10%" height="10%" style="float: left">
        </a>
        {{> UserNameInfo}}
        <ul class="nav navbar-nav" style="float: right">
          <li>{{> Feedback}}</li>
          <li><a href="#" class="navbar-element navbar-nav navbar-brand" style="color: #FFFFFF;" onMouseOver="this.style.color='#ED8233'"
                 onMouseOut="this.style.color='#FFFFFF'"
                 id={{topbarTagID linkId}}>{{topbarText}}</a></li>
          <li>{{> LoginMenu}}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

