<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<template name="TopBar">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation"
         style="box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.19); color: #00b439" id="topBarDiv">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class=" nav navbar-nav navbar-right navbar-toggle" data-toggle="collapse"
                        data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav navbar-left " style="float: left">
                    {{#if sideLogo}}
                    <li>
                        <a href="/">
                            <img href="/" src="/minditlogoTopBar.png">
                        </a>
                    </li>
                    {{/if}}

                    {{#if sideLogoSmall}}
                    <li>
                        <a href="/">
                            <img src="/smalllogomindit.png" height="36px" width="37px">
                        </a>

                    </li>
                    {{/if}}
                </ul>

            </div>

            <div class="collapse navbar-collapse" id="myNavbar">

                <ul class="nav navbar-nav navbar-right " style="float: left">
                    {{#if requireExport}}

                    {{#if requireExportImageButton}}
                    <li>{{> ExportImageButton}}</li>
                    {{else}}
                    <li>{{> Export}}</li>
                    {{/if}}
                    {{/if}}


                    {{#if requireShare}}
                    {{#if requireShareImageButton}}
                    <li>{{> ShareImageButton}}</li>
                    {{else}}
                    <li>{{> Share}}</li>
                    {{/if}}
                    {{/if}}

                    <!--{{#if requirePresent}}-->
                    <!--<li>{{> PresentImageButton}}</li>-->
                    <!--{{/if}}-->

                    {{#if requireFeedback}}
                    {{#if requireFeedbackImageButton}}
                    <li>{{> PresentImageButton}}</li>
                    {{else}}
                    <li>{{> Feedback }}</li>
                    {{/if}}
                    {{/if}}


                    {{#if requireHelp}}
                    {{#if requireHelpImageButton}}
                    <li> {{> HelpImageButton}}</li>
                    {{else}}
                    <li>{{> Help}}</li>
                    {{/if}}
                    {{/if}}

                    {{#if topbarText}}
                    <li><a href="#"
                           id={{topbarTagID linkId}}>{{topbarText}}</a></li>
                    {{/if}}

                    {{#if forCreate}}
                    <li>
                        <div class="divider"></div>
                    </li>
                    {{/if}}

                    {{#if currentUser}}

                    {{#if notError}}

                    <div class="dropdown">
                        <div class="dropButtons" style="padding-top:10px" data-action="toggleOptions" data-toggle="dropdown">
                            <a class="brand dropButtons" onMouseOver="this.style.color='#ED8233'" onMouseOut="this.style.color='#000000'" style="font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif; color:#000000" data-action="toggleOptions" data-toggle="dropdown">{{name}}</a>
                            <img style="border-radius:50%" onMouseOver="this.style.opacity='0.6'" onMouseOut="this.style.opacity='1'" class="dropButtons" src={{ picture}} alt="Cinque Terre" width="32" height="32" data-action="toggleOptions" data-toggle="dropdown">
                        </div>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="" data-action="logout">Logout</a>
                        </div>
                    </div>

                    {{/if}}
                    {{/if}}

                    {{#if currentUser}}
                    {{else}}
                    {{#if notError}}
                    <li><a href="" data-action="login" style="color: #000000">
                        Log In
                    </a>
                    </li>
                    {{/if}}
                    {{/if}}
                </ul>


            </div>

        </div>
    </div>
</template>

