<template name="ModalHeader">
    <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <!--<h4 class="modal-title" id={{modalTagID labelId}}>{{modalHeaderText}}</h4>-->
        <h4 class="modal-title" id={{modalTagID labelId}}>Share Your MindMap</h4>
    </div>
</template>

<template name="ModalBody">
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                {{#if isModalForImage path}}
                <div class="col-lg-12">
                    <img src={{modalBodyImageSrc path}} style="width: 100%;height: 100%"/>
                </div>
                {{/if}}
                {{#if isModalForShare}}
                <div>


                    <ul class="in-line nav nav-tabs">
                        <li class="active" style="width:50%"><a href="#link" data-toggle="tab" id="firstTab"> <img src="/sharableLink.png">&nbsp;&nbsp;Link</a></li>

                       {{#if Meteor.settings.public.shareThroughtEmail}}
                        <li style="width:33%"><a href="#email" data-toggle="tab" id="secondTab"> <img src="/emailIcon.png">&nbsp;&nbsp;Email</a></li>
                        {{/if}}

                        <li style="width:50%"><a href="#embedCode" data-toggle="tab" id="thirdTab">
                            <img src="/embedIcon.png">&nbsp;&nbsp;Embed Code
                        </a></li>


                        <li></li>
                    </ul>
                    <div class="tab-content">
                        <div id="link" class="tab-pane fade in  active ">
                            <div style="height:10px;"></div>
                            <div class="row" style="height: 50%">
                                <h4 class="col-12">Get sharable link</h4>
                            </div>
                            <div class="col-12">
                                {{#if isWriteUser}}
                                {{#if isPublicMindmap}}
                                <div style="float:left; padding-left:15%">
                                    Anyone with this link can
                                    <span style="font-weight: bold">write</span>
                                </div>

                                {{else}}
                                <div class="dropdown row col-12">
                                    <div class=" dropdown-toggle " id="sharableLinkButton" role="button"
                                         data-action="toggleOptions" data-toggle="dropdown">
                                        Anyone with this link can
                                        <span id="sharableLinkButtonMessage" style="font-weight: bold">read</span>
                                        <span class="caret"></span></div>
                                    <ul class="dropdown-menu"
                                        style=" margin-left:16.66%;width: 64%; cursor: pointer ; justify-content: space-between; padding-top: 0px; padding-bottom: 0px">
                                        <li id="sharedLinkr"
                                            onMouseOver="this.style.backgroundColor='#F1F1F1'"
                                            onMouseOut="this.style.backgroundColor= '#FFFFFF'">
                                            Anyone with this link can read the mindmap
                                        </li>
                                        <li class="divider" style="margin-top: 0px; margin-bottom: 0px"></li>
                                        <li id="sharedLinkw"
                                            onMouseOver="this.style.backgroundColor='#F1F1F1'"
                                            onMouseOut="this.style.backgroundColor= '#FFFFFF'">
                                            Anyone with this link can read and write the mindmap
                                        </li>
                                    </ul>
                                </div>
                                {{/if}}
                                {{else}}
                                <div style="float:left; padding-left:15%">
                                    Anyone with this link can
                                    <span style="font-weight: bold">read</span>
                                </div>
                                {{/if}}
                                <br>
                                <br>
                            </div>

                            <center>
                                <input  class= "form-control" id="linkTextBox" readonly="readonly" onclick="this.select();" style="background-color: white">
                            </center>
                        </div>


                        <div id="email" class="tab-pane fade ">
                            {{> shareEmail}}
                        </div>
                        <div id="embedCode" class="tab-pane fade " >
                            {{> Embed}}
                        </div>

                    </div>

                </div>


                {{/if}}
                {{#if isTextEditorRequired}}
                <div class="col-sm-10">
                    <textarea class="form-control" id="modal-text" style="resize: none;" rows="10"></textarea>
                </div>
                {{/if}}
            </div>
        </form>
    </div>
</template>


<template name="ModalFooter">
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                data-dismiss="modal">
            Close
        </button>
        <button type="button" class="btn btn-primary" id="modal-save">
            Save changes
        </button>
    </div>
</template>


<template name="ModalPopUp">
    <div class="modal fade modal-fullscreen force-fullscreen" tabindex="-1" role="dialog" id={{modalTagID modalId}}
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="{{style isFullWidth}}">
            <div class="modal-content">
                <!-- Modal Header -->
                {{> ModalHeader}}
                <!-- Modal Body -->
                {{> ModalBody}}

                {{#if requireFooter}}
                <!-- conditional footer. Set requireFooter="true"-->
                {{> ModalFooter}}
                {{/if}}
            </div>
        </div>
    </div>
</template>
