<template name="ModalHeader">
    <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id={{modalTagID labelId}}>{{modalHeaderText}}</h4>
    </div>
</template>

<template name="ModalBody">
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                {{#if isModalForImage path}}
                <div class="col-lg-12">
                    <img src={{modalBodyImageSrc path}} style="width: 100%;height: 100%"/>
                </div>
                {{/if}}
                {{#if isModalForShare}}
                <div>
                    <!--<form>-->
                    <!--<div>-->

                    <!--<input type="email" placeholder="   Email Address" id="e_mail" style="width: 60%; padding:3px; margin-top: 5%" onclick="console.log('hi');" >-->
                    <!--</div>-->
                    <!--<div style="width: 100%; padding: 5%">-->
                    <!--<select id="permission" style="margin-right: 20%;">-->

                    <!--{{#each permissions}}-->
                    <!--<option value="{{this.name}}">{{this.value}}</option>-->
                    <!--{{/each}}-->
                    <!--</select>-->

                    <!--&lt;!&ndash;<input type="submit" value="Share" data-action="share" style="margin-left: 20%" >&ndash;&gt;-->

                    <!--</div>-->
                    <!--</form>-->

                    <form>
                        <!--<ul class="in-line nav nav-tabs">-->
                            <!--<li class="active"><a href="#link" data-toggle="tab" id="firstTab">link</a></li>-->
                            <!--<li><a href="#email" data-toggle="tab" id="secondTab">Email</a></li>-->
                        <!--</ul>-->
                        <!--<div>-->
                            <!--<div id="link" class="tab-pane fade in  active ">-->

                                <!--<div class="row">-->
                                    <!--<h4 class="col-12">Get sharable link</h4>-->
                                <!--</div>-->
                                <div style="height:20px;"> </div>
                                <div class="col-12">
                                    <!--<p class="col-4" style="margin-left: 40px;font-size:medium">Anyone with this link-->
                                    <!--can</p>-->
                                    <!--<select class = "col-6" style="float: left;display:inline-block;margin-left: 40px;margin-top: 8px;height:50px">-->
                                    <!--&lt;!&ndash;<option value="read"> read </option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option value="write"> write </option>&ndash;&gt;-->
                                    <!--{{#each permissions}}-->
                                    <!--<option value="{{this.name}}">Anyone with this link can {{this.value}}</option>-->
                                    <!--{{/each}}-->
                                    <!--</select>-->

                                    <div class="dropdown row">
                                        <span class="col-2"></span>
                                        <!--<a href="">-->
                                            <div class=" dropdown-toggle col-8" id="sharableLinkButton" role="button"  data-action="toggleOptions" data-toggle="dropdown">
                                                Anyone with this link can
                                                <span id="sharableLinkButtonMessage" style="font-style: italic">read</span>
                                                <span class="caret"></span></div>
                                        <!--</a>-->

                                        <!--<div class=" dropdown-toggle col-8" id = "sharableLinkButton" data-action="toggleOptions" data-toggle="dropdown" role="button">-->
                                        <!--Anyone with this link can read the mindmap-->
                                        <!--</div>-->
                                        <ul class="dropdown-menu col-8"
                                            style=" margin-left:100px;width: 65%;justify-content: space-between">
                                            <li id="sharedLinkr"
                                                style="height: 30px;text-align: center;border-bottom: 2px;border-bottom-color: #0c0c0c">
                                                Anyone with this link can read the mindmap
                                            </li>
                                            <li class="divider"></li>
                                            <li id="sharedLinkw"
                                                style="height: 30px;text-align: center;border-bottom: 2px;border-bottom-color: #0c0c0c">
                                                Anyone with this link can read and write the mindmap
                                            </li>

                                        </ul>


                                    </div>


                                </div>
                                <!--<div class="col-12">-->
                                <!--<span class="col-1"></span>-->
                                <!--<input id = "linkTextBox" class="col-8" type="text" onclick="console.log('hi');" style="width:80%">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div id="email" class="tab-pane fade ">-->
                                <!--<h3> this is menu</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="row" style="height: 80px"></div>
                        <div class="row fade in" id="linkToShow">
                            <span class="col-2"></span>
                            <input id="linkTextBox" readonly="readonly" class="col-8" onclick="this.select();"
                                   onfocus="console.log('hello');">
                        </div>
                    </form>

                </div>


                {{else}}
                <div class="col-sm-10">
                    <textarea class="form-control" id="modal-text" style="resize: none;" rows="10"></textarea>
                </div>
                {{/if}}
            </div>
        </form>
    </div>
</template>


<template name="ModalFooter">
    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">
            Close
        </button>
        <button type="button" class="btn btn-primary" id="modal-save">
            Save changes
        </button>
    </div>
</template>


<template name="ModalPopUp">
    <div class="modal fade modal-fullscreen force-fullscreen" tabindex="-1" role="dialog" id={{modalTagID modalId}}
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="{{style isFullWidth}}">
            <div class="modal-content">
                <!-- Modal Header -->
                {{> ModalHeader}}
                <!-- Modal Body -->
                {{> ModalBody}}

                {{#if requireFooter}}
                <!-- conditional footer. Set requireFooter="true"-->
                {{> ModalFooter}}
                {{/if}}
            </div>
        </div>
    </div>
</template>
